/*button designing*/
button:disabled {
  background-color: grey;
  color: white;
  border-color: grey;
}

button.btn-primary:enabled {
  background-color: #007bff;
  border-color: #007bff;
}

button.btn-danger:enabled {
  background-color: #dc3545;
  border-color: #dc3545;
}
/*Custom Card*/
.custom-card {
    background-color: #fef1f3; /* Light red background */
    border-radius: 0.25rem;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .custom-card-icon {
    background-color: #E57373; /* Darker red background */
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-right: 10px;
  }
  
  .custom-btn .btn {
    margin: 0 5px;
  }
  
  .custom-select {
    max-width: 200px;
    margin-right: 10px;
  }
/*Table Styling*/
.table {
    border: 1px solid #dee2e6; /* Table border */
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid #dee2e6; /* Cell borders */
    padding: 8px;
    color: #73879C;
    font-size: small;
  }
  /*Model Styling*/

  .modal-90w {
    max-width: 90%;
  }
  .custom-modal-header,
.custom-modal-footer {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 1px solid #dee2e6;
}

.custom-modal-footer {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  background-color: white;
  border-top: 1px solid #dee2e6;
}

.modal-body {
  max-height: 70vh;
  overflow-y: auto;
}

  
  .custom-modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    
  }
  
  .custom-modal-header .avatar {
    width: 36px;
    height: 36px;
    background-color: #E57373;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
  }
  
  .custom-modal-header h5 {
    margin-left: 10px;
    color: #73879C;
  }
  /* Form Styling */
  .form-section-header {
    font-size: 1.25rem;
    color: #73879C;
    margin-top: 0.2rem;
  }
  
  .form-section-divider {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    border: 0;
    border-top: 1px solid #73879C;
  }
  
  .text-danger {
    color: #dc3545 !important;
  }
  .Form-Style {
    color: #73879C;
  }
  /*Custom form footer*/
  .custom-footer .custom-button {
    margin-right: 10px; /* Adjust as needed */
}

.custom-footer .custom-button:last-child {
    margin-right: 0; /* Ensure the last button has no right margin */
}
  /* Screening Tab Design */
  .process-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .step {
    flex: 1;
    text-align: center;
    position: relative;
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 10px 0;
    margin-right: 10px;
  }
  
  .step:last-child {
    margin-right: 0;
  }
  
  .step-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #6c757d;
  }
  
  .step-content span {
    font-weight: 500;
  }
  
  .step::before {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid #e5e5e5;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  
  .step:last-child::before {
    display: none;
  }
  
  .step.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .step.active .step-content span {
    color: #fff;
  }
  
  .step.active::before {
    border-left-color: #007bff;
  }
  /*Search input CSS*/
  .input-with-icon {
    display: flex;
    align-items: center;
  }
  
  .form-control-grey-bg {
    background-color: #e9ecef; /* Light grey background */
    border-radius: 4px; /* Maintain the rounded corners */
    padding: 0.375rem 0.75rem; /* Default Bootstrap padding */
    color: #495057; /* Default Bootstrap text color */
  }
  
  .view-only-input {
    border: none; /* No border to match the plain text style */
  }
  
  .icon-button {
    background-color: transparent; /* Make the button background transparent */
    border: none; /* Remove the button border */
    color: #007bff; /* Use a blue color for the icon */
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: -35px; /* Adjust this to position the icon closer to the input field */
  }
  
  .icon-button i {
    font-size: 16px;
    background-color: #007bff; /* Blue background for the icon */
    padding: 10px; /* Ensure padding around the icon */
    border-radius: 4px; /* Rounded corners for the icon background */
    color: white; /* White color for the icon itself */
  }
  
  
  